@charset "utf-8";
/*
 Knight Bootstrap theme by BootstrapTaste.com
 Theme URI: http://bootstraptaste.com/knight-free-bootstrap-theme/
 Author: BootstrapTaste
 Author URI: http://bootstraptaste.com
 */

/**********************
     
    COLORS:
    Red - #f01516;

    FONTS:
    font-family: 'Vidaloka', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Muli', sans-serif;

***********************/
 
/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/

* {
    outline: none;
}


.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active, a:focus {outline:0px; text-decoration: none;}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: 'Muli', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#555555;
	margin:0;
    width:100%;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

h2{
	font-size:34px;
	color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color:#222222;
	font-size:18px;
	margin:0 auto 5px auto;
	text-transform:uppercase;
	font-weight:700;
}


h6 {
	font-size:16px;
	color:#555555;
	font-family: 'Muli', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}
p {
	line-height:24px;
	margin:0;
}

.white {
    color: #fff;
}

.red {
    color: #f01516;
}

/* Header Styles
---------------------------------*/

.header {
    text-align: center;
    background: url('../img/toyota-avalon-image.jpg') no-repeat;
    background-size: cover;
    padding:0;
}

.fa-bars {
    position: relative;
    bottom:6px;
}

#logo {
	margin:0 auto;
    position:relative;
    bottom: 0;
    height: 550px;
}

.branding {
    font-family: 'Vidaloka', serif;
    font-size: 120px;
    color: #fff;
}

.branding span {
    font-family: 'Dancing Script', cursive;
    font-size: 136px;
    font-weight: 700;
    color: #f01516;
}

.we-create{
    position:relative;
    bottom:10px;
	margin:0 auto;
}

#web-api {
    font-size:3em;
}

.link{
	padding:15px 35px;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
	text-decoration:none;
	color: #f01516 !important;
}

.link:active, .link:focus {
	text-decoration:none;
}

/* Navigation
---------------------------------*/
nav {
    width: 100% !important;
}

.main-nav-outer{
	padding:5px;
	border-bottom:1px solid #dddddd;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
	background:#222;
    z-index:999;
}
.main-nav{
    background: #222;
	text-align:center;
	list-style:none;
    padding:0;
}
.main-nav li{
    background: #222;
	display:inline;
    color:#fff;
}
.main-nav li a{
	display:inline-block;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	line-height:20px;
    padding: 20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
} 

.main-nav li a:hover{ 
	text-decoration:none;
	color: #f01516;
}

.small-logo{ 
	padding:0 32px;
}

.main-section{
	padding:90px 0 110px;
}

#nav-branding a {
    font-family: 'Vidaloka', serif;
    font-size: 30px;
}

#nav-branding a span {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 700;
    color: #f01516;
}

#nav-branding a:hover {
    color: inherit;
}

.main-nav li:not(#nav-branding) {
    text-transform: uppercase;
}

/* Services
---------------------------------*/

.service-list{
	padding:0 0 0 0;
	font-size:14px;
	margin-bottom:40px;
}
.service-list-col1{
	float:left;
	width:60px;
}
.service-list-col1 i{
	font-style:normal;
	font-size:38px;
	display:block;
	color:#222;
	font-family: 'FontAwesome';
	line-height:38px;
}
.service-list-col2{
	overflow:hidden;	
}
.main-section.alabaster{
	background:#f0f0f0;
}

.main-section.argyle {
    background-color: #cccccc; 
    background-image: repeating-linear-gradient(120deg, rgba(255,255,255,.25), rgba(255,255,255,.25) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(120,120,120,.15), rgba(120,120,120,.15) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(120,120,120,.1) 25%, transparent 25%, transparent 75%, rgba(120,120,120,.1) 75%, rgba(120,120,120,.1)),
    linear-gradient(120deg, rgba(120,120,120,.1) 25%, transparent 25%, transparent 75%, rgba(120,120,120,.1) 75%, rgba(120,120,120,.1)); 
    background-size: 70px 120px;
}

.jh-button {
    background-color: #333;
    color: #ddd;
    margin: 0 auto 25px auto;
}
.jh-button:hover {
    background-color:#444;
    color:#fff;
}
#angular {
    width:100%;
    max-width: 380px;
}

/* Featured Work
---------------------------------*/
.featured-work{
	font-size:14px;
}
.featured-work h2{
	text-align:left;
}
.featured-box{
	padding:0 0 0 0;
	margin-bottom:25px;
	font-size:14px;
}
.featured-box h3{
	margin-bottom:5px;
}
.featured-box p{
	line-height:22px;
}
.featured-work p.padding-b{
	padding-bottom:35px;
}
.featured-box-col1{
	width:60px;
	float:left;
}
.featured-box-col1 i{
	display:block;
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	color:#777777;
	font-style:normal;
}
.featured-box-col2{ overflow:hidden;}
.featured-box.magic{
	background:url(../img/magic.png) left top no-repeat;
}
.featured-box.packaged{
	background:url(../img/packaged.png) left top no-repeat;
}
.featured-box.seo{
	background:url(../img/seo.png) left top no-repeat;
}

/* Team
---------------------------------*/

.main-section.team{
	padding:85px 0;
}
.main-section.team h6{
	margin-bottom:40px;
}

.team-leader-block{
	max-width:993px;
	margin:0 auto;
}
.team-leader-box{
	width:40%;
	margin: 0 30%;
	height: 500px;
	overflow: hidden;
	text-align: center;
	float: left;
}
.team-leader-box span{
	margin-bottom:24px;
	display:block;
}
.team-leader-box:nth-of-type(3n+0){ margin:0;}
.team-leader{
	max-width:300px;
	height:auto;
	position:relative;
	border-radius:50%;
	box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
	margin:7px 7px 25px 7px;
	
}
.team-leader-shadow{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	border-radius:50%;
	position:absolute;
	width:100%;
	height:100%;
	z-index:10;
	border-radius:50%;
}
.team-leader-shadow a{
	display:block;
	width:100%;
	height:100%;
}
.team-leader:hover .team-leader-shadow{
	box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);
}
.team-leader:hover ul{ display:block; opacity:1}
.team-leader img{
	display:block;
	border-radius:50%;
}
.team-leader ul{
	display:block;
	opacity:0;
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
	margin-top:-14px;
	z-index:15;
	transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;
}
.team-leader ul li{
	display:inline;
	margin:0 11px;
}
.team-leader ul li a{
	font-family: 'FontAwesome';
	display:inline-block;
	font-size:28px;
	color:#fff;	
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.team-leader ul li a:hover, .team-leader ul li a:focus{
	text-decoration:none;
}
.team-leader ul li a.fa-twitter:hover{
	color:#55acee;
}
.team-leader ul li a.fa-facebook:hover{
	color:#3b5998;
}
.team-leader ul li a.fa-github-alt:hover{
	color:#53287c;
}
.team-leader ul li a.fa-linkedin:hover{
	color:#01649b;
}

/* Contact
---------------------------------*/
.main-section.contact{
	padding:90px 0 100px;
}

.main-section.contact{
	background:url(../img/bg-map.png) left 190px no-repeat;
}
.contact-info-box{
	font-size:15px;
	margin:0 0 14px 68px;
	padding-left:0;
}
.contact-info-box h3{
	font-size: 15px;
	font-weight:400;
	float:left;
	width:102px;
	margin-right:12px;
	line-height:28px;
}
.contact-info-box h3 i{
	font-style:normal;
	font-size:18px;
	color:#222222;
	font-family: 'FontAwesome';
	font-weight:normal;
	margin-right:7px;
}
.contact-info-box span{
	line-height:28px;
	display:block;
	overflow:hidden;
}
.social-link{
	padding:35px 0;
	margin:0 0 0 68px;
	display:block;
	overflow:hidden;
	list-style:none;
}
.social-link li{
	float:left;
	margin-right:8px;
}
.social-link li a{
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:25px;
	color:#fff;
	background:#222222;
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
}
.facebook a:hover {
	background: #3b5998;
}

#email {
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #222;
	text-transform: uppercase;
}

/* Footer
---------------------------------*/

.footer{
	background: #0e0e0e;
    color: #888;
	padding:35px 0;
}
.footer-logo{
    color: #fff;
    font-family: 'Vidaloka', serif;
    font-size: 28px;
	margin:0 auto;
	width: 76px;
    text-align: center;
    position: relative;
    right: 25px;
}

.footer-logo span {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    font-weight: 700;
    color: #f01516;
}

.copyright{
    font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #aaa;
	text-transform: uppercase;
	font-weight: 400;
	display:block;
	text-align:center;
}

.footer a {
    color: #aaa;
}

.footer a:hover {
    color: #777;
}

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
    color: #f01516;
}


/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}

.delay-30s {
    animation-delay: 3s; 
	-webkit-animation-delay: 3s; 
}


/****** Carfinder Styles ******************/

.select {
    margin-bottom: 20px;
    text-align: center;
}

.select select {
    min-width: 200px;
    padding: 10px;
    color: #666666;
    border-radius: 3px 4px;
}

#car-table {
    margin-top: 40px;
}

.app-modal-window, .modal-dialog {
  width: 600px;
  margin: 20px auto;
}

.text-info, .text-info:hover {
    color: #000000;
}

#carfinder {
    text-align:center;
    margin: 0 auto;
}

.pagination > .active > a,
.pagination > .active > a:focus {
    background-color:#666;
    color:#fff;
    border-color: transparent;
}

.pagination > .active > a:hover {
    background-color: #444;
    border: 1px solid #333;
}

.pagination > li > a {
    color: #444;
}

/****** Modal Styles ******************/

.modal-heading,
.panel-title {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#no-result {
    margin-top:20px;
    padding: 20px;
}

.accordion-toggle,
.uib-tab > div {
    cursor:pointer;
}

.uib-tab > div:hover,
.uib-tab > div {
    color:#aaaaaa;
}


